body{
    background-image: linear-gradient( yellow, green);
}
#con{
    margin-top: 200px;
    margin-top: 50px;
}
.clicks{
    text-align: center;
}
.title{
  text-align: center;
}
.button{
    margin-top: 25px;
}
.timerc{
    text-align: center;  
}
.time{
    text-align: center;
}
.numberbutton{
    margin-left: 670px;
}
.hide{
    display: none;
}
.scoreborder{
    border: orchid 2px solid;
}
.center{
    text-align: center;
}