#con{
    margin-top: 200px;
}
#clicks25{
    text-align: center;
}
#clicks20{
    text-align: center;
}#clicks15{
    text-align: center;
}
#clicks10{
    text-align: center;
}
#clicks5{
    text-align: center;
}